.header {
  background: url(../images/background-1.jpg) center center/cover;
  position: relative;
  .overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $blue-dark-t3;
    backdrop-filter: blur(6px);
  }
  .nav {
    z-index: 11;
    position: absolute;
    width: 100%;
    transition: all 0.4s ease;
    -webkit-transition: 0.4s all ease;
    &.sticky {
      position: fixed;
      background-color: $blue-dark-t;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(6px);
      &.no-bg {
        background: none;
        backdrop-filter: none;
        box-shadow: none;
      }
    }
  }

  &__logo {
    font-size: 2rem;
  }

  &__toggle {
    position: relative;
    // display: block;
    width: 32px;
    height: 24px;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transition: all 300ms ease-in-out;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 20px;
      }
    }

    &.open span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  &__links {
    a {
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 32px;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -1rem;
        transition: 200ms;
      }
      &:hover:after {
        width: 100%;
      }

      &.active {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background-color: #fff;
          height: 3px;
          width: 100%;
          bottom: -1rem;
        }
      }
    }
  }

  &__menu {
    z-index: 10;
    position: fixed;
    width: calc(100% - 3rem);
    left: 50%;
    top: 5rem;
    transform: translate(-50%);
    background: rgba(255, 255, 255, 0.767);
    margin-top: 1.5rem;
    padding: 1.25rem;
    border-radius: 15px;

    a {
      font-size: 1.25rem;
      display: block;
      padding: 0.625rem;
      color: $b1-t;
      text-align: center;
      font-weight: bolder;
      cursor: pointer;
      // &:not(:last-child) {
      //   border-bottom: 0.5px $b7 dotted;
      // }
    }
  }

  .hero {
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 1.75;
    padding-bottom: 11rem;

    p {
      font-size: 1.5rem;
      @include breakpoint-down(small) {
        font-size: 1rem;
      }
    }
  }

  .chevron {
    position: absolute;
    bottom: 6rem;
    left: 0;
    right: 0;
    text-align: center;

    i {
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        font-size: 3rem;
      }
    }
  }
}
