// $primary-dark1: #2d3142;
$primary-dark1-transparent: #2d314285;
// $primary-dark2: #4f5d75;
// $primary-light1: #bfc0c0;
// $primary-light2: #ffffff;
// $secondary-color: #ef8354;

// $brown-light: #ffffea;
// $borwn-medium: #fdb15c;
// $brown-dark: #fb8500;

// $blue-medium: #8ecae6;
// $blue-dark: #219ebc;

$blue-dark: #2c7494;
$blue-dark-t: #2c7594b6;
$blue-dark-t2: #2c7594ea;
$blue-dark-t3: #2c759491;
$blue-dark1: #3285a8;
$blue-dark2: #133847;
$blue-medium1: #87b2d0;
$blue-medium2: #97c0d5;
$blue-light1: #c2d8e4;
$blue-light2: #d5e6f0;
$blue-light3: #e5edf1;

$b1: #16425b;
$b1-t: #16425bc0;
$b2: #2f6690;
$b3: #3a7ca5;
$b4: #d9dcd6;
$b5: #3f79a0;
$b5-t: #3f79a0e7;
$b5-t2: #3f79a0e7;
$b6: #005a7d;
$b7: #428faa;
